--extra-index-url https://download.pytorch.org/whl/cpu
requests
beautifulsoup4
lxml
supabase
mysql-connector-python
gunicorn
python-dotenv 
fastapi
uvicorn[standard]
openai
pydantic
python-multipart
paddleocr
huggingface_hub
paddlepaddle
numpy
opencv-python
torch==2.3.1+cpu
torchvision==0.18.1+cpu
torchaudio==2.3.1+cpu

#  RAG/KAG system
PyPDF2
langchain
langchain-community # HuggingFaceEmbeddings and FAISS
sentence-transformers
faiss-cpu
tiktoken