requests
beautifulsoup4
lxml
supabase
mysql-connector-python
FLask
gunicorn
python-dotenv  
fastapi
uvicorn[standard]
openai 
pydantic
python-multipart # For File/UploadFile handling in FastAPI
paddleocr
huggingface_hub
paddlepaddle
numpy
opencv-python

#  RAG/KAG system
PyPDF2
langchain
langchain-community # HuggingFaceEmbeddings and FAISS
sentence-transformers
faiss-cpu
tiktoken